$accent: #111827;
$bg: #353231;
$blue: #56a3a6;
$text: #fffbfc;
$red: #f45866;

body {
	height: 100vh;
	//background-color: lighten($accent, 4%);

	background-repeat: space;
	background-color: hsla(240, 53%, 64%, 1);
	background-image: radial-gradient(
			at 15% 90%,
			hsla(145, 98%, 74%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 91% 64%, hsla(215, 98%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 66% 86%, hsla(245, 96%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 48% 25%, hsla(209, 59%, 62%, 1) 0px, transparent 50%);
}

main {
	height: 100vh;
}

.main-content {
	position: relative;
	top: 180px;
}

.footer {
	position: fixed;
	left: 10px;
	bottom: 10px;
	right: 10px;
}
