$accent: #111827;
$bg: #353231;
$blue: #56a3a6;
$text: #fffbfc;
$red: #f45866;

body {
	height: 100vh;

	background-size: auto 988px;
	background-repeat: no-repeat;
	background-color: lighten($accent, 4%);
	background-image: radial-gradient(
			at 15% 90%,
			hsla(145, 98%, 74%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 91% 64%, hsla(215, 98%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 66% 86%, hsla(245, 96%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 48% 25%, hsla(209, 59%, 62%, 1) 0px, transparent 50%);
}

main {
	height: 100vh;
}

.gradient-bg {
	position: relative;
	left: -32px;
	top: 290px;
	width: 100vw;

	background-image: linear-gradient(
		0deg,
		lighten($accent, 4%) 0%,
		rgba(255, 255, 255, 0) 100%
	);

	.main-content {
		position: relative;
		top: -130px;
	}
}
